#root {
    height: 100%
}
#prepare-app-root{
    height: 100%
}
.page_test>span>div{
    height: 100%
}
.page_test{
    flex-grow: 1
}
.h1Title{

}
.Paper_container{
    margin-top: 1%!important
}
.featureSelectorDiv{
    font-size: 80%!important;
}