#root {
    height: 100%
}
#prepare-app-root{
    height: 100%
}
.page_router>span>div{
    height: 100%
}
.page_router{
    flex-shrink: 1; 
    overflow-y: auto;
}
.h1Title{

}
.Paper_container{
    margin-top: 1%!important
}
.featureSelectorDiv{
    font-size: 80%!important;
}
// #prepare-bar-chart{
//     width:150px;
//     height: 350px!important;
// }