/*
Error: Invalid US-ASCII character "\xE4"
        on line 1 of useful_mixin.scss

1: //伸缩盒（旧）
2: @mixin box {
3:   display: -webkit-box;
4:   display: box;
5: }
6: 

Backtrace:
useful_mixin.scss:1
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/util.rb:1325:in `rescue in block in find_encoding_error'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/util.rb:1322:in `block in find_encoding_error'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/util.rb:1321:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/util.rb:1321:in `each_with_index'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/util.rb:1321:in `find_encoding_error'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/util.rb:930:in `check_sass_encoding'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/engine.rb:436:in `check_encoding!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/engine.rb:392:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:23:in `load'
/usr/local/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xE4\"\A         on line 1 of useful_mixin.scss\A \A 1: //伸缩盒（旧）\A 2: @mixin box {\A 3:   display: -webkit-box;\A 4:   display: box;\A 5: }\A 6: "; }
